:root{
    --backgroundColor: #0d1016;
    --foregroundColor: #f1f7fc;
    --placeholderColor: #606060;
    --buttonHoverColor: #262c36;
    --borderColor: #212931;
    --headerColor: #010508;
    --borderRadius: 6px;
    --bgImageborderRadius: 8px; /* borderRadius + 2 */
    --bgImageOverlayColor: 14, 14, 14;

    /* SettingsPage */
    --checkBoxCheckedBgColor: #c0c1c7;
    --checkBoxCheckedFgColor: black;
    --saveButtonFg: #f0f0f0;
    --saveButtonBg: #26803b;
    --saveButtonHoverBg: #1c6230;
    --versionLabelFg: #8b8f94;
}